<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - TUDE</title>

    <link rel="stylesheet" href="{{ url_for ('static', filename='assets/css/main/app.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='assets/css/main/app-dark.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='assets/css/main/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for ('static', filename='assets/images/logo/unsrat-logo.png') }}" type="image/png">

</head>

<body>
    <div id="app">
        
        {% include 'snippets/sidebar.html' %}

        <div id="main">        
            
            {% block content %}
                
            {% endblock content %}                
            
            {% include 'snippets/footer.html' %}                
            
        </div>
    </div>
    <script src="{{ url_for ('static', filename='assets/js/bootstrap.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
</body>

</html>